In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import re
import os
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')

In [2]:
d = pd.read_csv('train.csv',encoding='unicode_escape')

In [3]:
for i in range(len(d['sentiment'])):
    if d['sentiment'][i] == 'negative':
        d['sentiment'][i] = '-1'
        continue
        
    if d['sentiment'][i] == 'positive':
        d['sentiment'][i] = '1'
        continue
    
    if d['sentiment'][i] == 'neutral':
        d['sentiment'][i] = '0'
        continue
        
for i in range(len(d['Time of Tweet'])):
    if d['Time of Tweet'][i] == 'night':
        d['Time of Tweet'][i] = '22'
        continue
        
    if d['Time of Tweet'][i] == 'morning':
        d['Time of Tweet'][i] = '8'
        continue
    
    if d['Time of Tweet'][i] == 'noon':
        d['Time of Tweet'][i] = '13'
        continue

In [4]:
d.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",0,8,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,-1,13,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,-1,22,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,-1,8,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",-1,13,60-70,Angola,32866272,1246700.0,26

In [5]:
def preprocess(ques):
    ques = str(ques).lower().strip()
    ques = ques.replace('%', ' percent')
    ques = ques.replace('$', ' dollar ')
    ques = ques.replace('₹', ' rupee ')
    ques = ques.replace('€', ' euro ')
    ques = ques.replace('@', ' at ')
    
     #later try without this also 
    ques = ques.replace('[math]', '')
    ques = ques.replace(',000,000,000 ', 'b ')
    ques = ques.replace(',000,000 ', 'm ')
    ques = ques.replace(',000 ', 'k ')
    ques = re.sub(r'([0-9]+)000000000', r'\1b', ques)
    ques = re.sub(r'([0-9]+)000000', r'\1m', ques)
    ques = re.sub(r'([0-9]+)000', r'\1k', ques)
    
    contractions = { 
    "ain't": "am not",
    "aren't": "are not",
    "can't": "can not",
    "can't've": "can not have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
    }
    
    ques_decontracted = []
    for word in ques.split():
        if word in contractions:
            word = contractions[word]
        ques_decontracted.append(word)
    
    ques = ' '.join(ques_decontracted)
    ques = ques.replace("'ve", " have")
    ques = ques.replace("n't", " not")
    ques = ques.replace("'re", " are")
    ques = ques.replace("'ll", " will")
    
    ques = BeautifulSoup(ques)
    ques = ques.get_text()
    pattern = re.compile('\W')
    ques = re.sub(pattern, ' ', ques).strip()
    
    return ques.strip()

In [6]:
d['text'] = d['text'].apply(preprocess)

In [7]:
d = d.drop(columns=['Country','Population -2020','Land Area (Km²)','Density (P/Km²)','textID','selected_text'])

In [8]:
d.head()

,text,sentiment,Time of Tweet,Age of User
0,i d have responded if i were going,0,8,0-20
1,sooo sad i will miss you here in san diego,-1,13,21-30
2,my boss is bullying me,-1,22,31-45
3,what interview leave me alone,-1,8,46-60
4,sons of why couldn t they put them on th...,-1,13,60-70

In [9]:
for i in range(len(d)):
    d['Age of User'][i] = eval(d['Age of User'][i].replace("-","+"))/2
    if(d['Age of User'][i]<18):
        d['Age of User'][i] = '18'

In [10]:
pos_words = open('positiveWords.txt','r').read()
pos_words = pos_words.split()
neg_words = open('negativeWords.txt','r').read()
neg_words = neg_words.split()

def pw_ratio(text):
    if len(text) == 0:
        return 0
    pos_count = 0
    t = text.lower().split()
    for word in t:
        if word in pos_words:
            pos_count += 1
    return pos_count/len(text)

def nw_ratio(text):
    if len(text) == 0:
        return 0 
    neg_count = 0
    t = text.lower().split()
    for word in t:
        if word in neg_words:
            neg_count += 1
    return neg_count/len(text)

def pw(text):
    if len(text) == 0:
        return 0
    pos_count = 0
    t = text.lower().split()
    for word in t:
        if word in pos_words:
            pos_count += 1
    return pos_count

def nw(text):
    neg_count = 0
    t = text.lower().split()
    for word in t: 
        if word in neg_words:
            neg_count += 1
    return neg_count

def dif_pn(text):
    neg_count = 0
    t = text.lower().split()
    for word in t:
        if word in neg_words:
            neg_count += 1
    pos_count = 0
    t = text.lower().split()
    for word in t:
        if word in pos_words:
            pos_count += 1
    return pos_count - neg_count

In [11]:
d['pos_ratio'] = d['text'].apply(pw_ratio)
d['neg_ratio'] = d['text'].apply(nw_ratio)
d['pos_cnt'] = d['text'].apply(pw)
d['neg_cnt'] = d['text'].apply(nw)
d['dif_pos_neg'] = d['text'].apply(dif_pn)

In [12]:
X = d['text'].values
Y = d['sentiment'].values

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 3000)
txts = d['text'].values
temp_df = cv.fit_transform(txts)

In [14]:
cdf = pd.DataFrame(temp_df.todense())

In [15]:
df = d.drop(columns = ['text'])

In [16]:
final_df = pd.concat([df,cdf], axis = 1)

In [17]:
final_df.head()

,sentiment,Time of Tweet,Age of User,pos_ratio,neg_ratio,pos_cnt,neg_cnt,dif_pos_neg,0,1,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,0,8,18,0.0,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,13,25.5,0.0,0.047619,0,2,-2,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,22,38.0,0.0,0.045455,0,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,8,53.0,0.0,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,13,65.0,0.0,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7174822630525741

In [20]:
from sklearn.metrics import confusion_matrix
# for random forest model
confusion_matrix(y_test,y_pred)

array([[1053,  362,   89],
       [ 372, 1542,  345],
       [ 126,  259, 1349]], dtype=int64)

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter = 1000)
model.fit(X_train ,y_train)
from sklearn.metrics import accuracy_score
X_train_prediction = model.predict(X_test)
training_data_accuracy = accuracy_score(y_test, X_train_prediction)
print(training_data_accuracy)

0.715299254138621